@font-face {
    font-family: 'Droid Sans';
    src:    url('../fonts/DroidSans-webfont.eot');
    src:    url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/DroidSans-webfont.woff') format('x-font-woff'),
            url('../fonts/DroidSans-webfont.ttf') format('truetype'),
            url('../fonts/DroidSans-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans Bold';
    src:    url('../fonts/DroidSans-Bold-webfont.eot');
    src:    url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/DroidSans-Bold-webfont.woff') format('x-font-woff'),
            url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
            url('../fonts/DroidSans-Bold-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Text Selection Color */
::selection {
    background: #EC008B; /* Safari */
    color: #ffffff;
}

::-moz-selection {
    background: #EC008B; /* Firefox */
    color: #ffffff;
}

body {
    background: url(../images/noisy_net.png) repeat-x 0 0, url(../images/noisy_net.png) repeat 0 0, #FEFEFE;
    background: url(../images/brilliant.png) repeat-x 0 0, url(../images/brilliant.png) repeat 0 0, #FEFEFE;
    font-family: "Droid Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 70px 0 40px 0;
}
body.dark {
    background: url(../images/noisy_net.png) repeat-x 0 0, url(../images/noisy_net.png) repeat 0 0, #FEFEFE;
    color: #f7f7f7;
}

p {
   font-size: 14px;
   margin-bottom: 24px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Droid Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

h3 {
    text-transform: uppercase;
}

.add-color-panel {
    margin-bottom: 40px;
    margin-left: 10px;
}

/* Alerts */
.alert-container {
    position: fixed;
    right: 5px;
    width: 250px;
    z-index: 5;
}

.alert {
    display: none;
}

/* Color Picker */
.color-picker {
    height: 272px;
    position: relative;
    width: 272px;
}

.color-picker img {
    cursor: crosshair;
}

.color-picker-backdrop {
    background: #00FFFF;
    height: 256px;
    margin: auto;
    position: relative;
    top: 8px;
    width: 256px;
}

.selected-color-circle {
    background-image: url('../images/selected-color-circle.png');
    height: 16px;
    left: 120px;
    position: absolute;
    top: 120px;
    width: 16px;
}

/* Hue Slider */
.hue-slider {
    height: 270px;
    position: relative;
    width: 20px;
}

.hue-slider-backdrop {
    position: relative;
    top: 8px;
}

.selected-hue-arrows {
    background-image: url('../images/selected-hue-arrows.png');
    height: 14px;
    left: -13px;
    position: absolute;
    top: 120px;
    width: 45px;
}

/* Color Attributes */
.color-attributes-short input {
    width: 50px;
}

.hex-input {
    display: inline-block;
    width: 70px;
}

/* Color Preview */
.color-preview-tile {
    background-color: #408080;
    border: 5px solid #5a5e5d;
    border-radius: 4px;
    cursor: move;
    height: 100px;
    margin-bottom: 10px;
    width: 100px;
}

/* Saved colors */
.color-drop-spot {
    border: 5px dashed #5a5e5d;
    border-radius: 5px;
    color: #698aac;
    float: left;
    font-family: "Droid Sans Bold", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 110px;
    margin-left: 30px;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 110px;
}

body.dark .color-preview-tile,
body.dark .color-drop-spot {
    border-color: #e4e4f1;
}

.ui-state-hover,
body.dark .ui-state-hover {
    border-color: #EC008B;
}

.ui-state-active,
body.dark .ui-state-active {
    border-color: #18BC9C;
}

.reorder-drop-spot {
    float: left;
    width: 30px;
}

.reorder-drop-spot:first-child {
    width: 10px;
}

.position-indicator {
    height: 110px;
    margin: auto;
    visibility: hidden;
    width: 1px;
}

.position-indicator {
    background: #5a5e5d;
}

.saved-color {
    float: left;
    height: 110px;
    width: 110px;
}

.color {
    border: 5px solid #5a5e5d;
    border-radius: 4px;
    height: 100px;
    margin: auto;
    width: 100px;
}

body.dark .color {
    border-color: #e4e4f1;
}

.new-color-template {
    display: none;
}