@font-face {
    font-family: 'Droid Sans';
    src:    url('../fonts/DroidSans-webfont.eot');
    src:    url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/DroidSans-webfont.woff') format('x-font-woff'),
            url('../fonts/DroidSans-webfont.ttf') format('truetype'),
            url('../fonts/DroidSans-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans Bold';
    src:    url('../fonts/DroidSans-Bold-webfont.eot');
    src:    url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/DroidSans-Bold-webfont.woff') format('x-font-woff'),
            url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
            url('../fonts/DroidSans-Bold-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Text Selection Color */
::selection {
    background: #EC008B; /* Safari */
    color: #ffffff;
}

::-moz-selection {
    background: #EC008B; /* Firefox */
    color: #ffffff;
}

body {
    background: url(../images/brilliant.png) repeat-x 0 0, url(../images/brilliant.png) repeat 0 0, #FEFEFE;
    color: #404040;
    font-family: "Droid Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0;
}
body.dark {
    background: url(../images/noisy_net.png) repeat-x 0 0, url(../images/noisy_net.png) repeat 0 0, #FEFEFE;
    color: #f7f7f7;
}

p {
   font-size: 14px;
   margin-bottom: 24px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: "Droid Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.toggle-bg-color {
    position: absolute;
    right: 10px;
    top: 5px;
}