@font-face {
    font-family: 'Droid Sans';
    src:    url('../fonts/DroidSans-webfont.eot');
    src:    url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/DroidSans-webfont.woff') format('x-font-woff'),
            url('../fonts/DroidSans-webfont.ttf') format('truetype'),
            url('../fonts/DroidSans-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans Bold';
    src:    url('../fonts/DroidSans-Bold-webfont.eot');
    src:    url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/DroidSans-Bold-webfont.woff') format('x-font-woff'),
            url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
            url('../fonts/DroidSans-Bold-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Icomoon';
    src:    url('../fonts/icomoon.eot');
    src:    url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
            url('../fonts/icomoon.woff') format('x-font-woff'),
            url('../fonts/icomoon.ttf') format('truetype'),
            url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-icon {
	font-family: 'Icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Text Selection Color */
::selection {
    background: #EC008B; /* Safari */
    color: #ffffff;
}

::-moz-selection {
    background: #EC008B; /* Firefox */
    color: #ffffff;
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: #ededed;
    height: 17px;
    margin-right: 10px;
    width: 17px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ededed;
    -webkit-border-radius: 0
}

::-webkit-scrollbar-thumb {
    background-color: #2C3E50;
    border: 4px solid #ededed;
    height: 50px;
    outline: 4px solid #ededed;
    outline-offset: -4px;
    width: 8px;
    -webkit-border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5a5e5d;
}

::-webkit-scrollbar-thumb:active {
    background-color: #698aac;
}

html {
    height: 100%;
}

body {
    background: url(../images/noisy_net.png) repeat-x 0 0, url(../images/noisy_net.png) repeat 0 0, #FEFEFE;
    background: url(../images/brilliant.png) repeat-x 0 0, url(../images/brilliant.png) repeat 0 0, #FEFEFE;
    font-family: "Droid Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 100%;
    padding-top: 70px;
}
body.dark {
    background: url(../images/noisy_net.png) repeat-x 0 0, url(../images/noisy_net.png) repeat 0 0, #FEFEFE;
    color: #f7f7f7;
}

p {
   font-size: 18px;
   margin-bottom: 24px;
}

a {
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Droid Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    text-transform: uppercase;
}

.btn {
    -moz-transition: background 0.4s, color 0.4s, border 0.4s;
    -o-transition: background 0.4s, color 0.4s, border 0.4s;
    -webkit-transition: background 0.4s, color 0.4s, border 0.4s;
    transition: background 0.4s, color 0.4s, border 0.4s;
}

.btn-success {
    font-family: "Droid Sans Bold", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.btn.cancel-palette {
    margin-right: 15px;
}

.text-bold {
    font-family: "Droid Sans Bold", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a.navbar-brand {
    font-size: 30px;
}

a.navbar-brand.toggle-bg-color {
    margin-top: 5px;
    padding: 12.5px 20px 12.5px 10px;
}

a.toggle-bg-color > span {
    color: #7e9bb8;
    font-size: 20px;

    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

a.toggle-bg-color:hover > span {
    color: #ffffff;
}

.page-content {
    height: 100%;
    height: auto !important;
    margin: 0 auto -140px auto;
    min-height: 100%;
}

.push {
    height: 220px;
}

.footer-wrapper {
    background: #2C3E50;
    clear: both;
    color: #44607c;
    height: 140px;
    padding-top: 20px;
}

.footer-wrapper a {
    color: #44607c;
    font-size: 16px;
}

.footer-wrapper a:hover {
    color: #18bc9c;
}

.footer-brand {
    display: inline-block;
    font-size: 40px;
}

.footer-link {
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid;
    vertical-align: super;
}

.add-color-panel {
    margin-bottom: 40px;
    margin-left: 10px;
}

/* Alerts */
.alert-container {
    position: fixed;
    right: 5px;
    width: 250px;
    z-index: 5;
}

.alert-container p {
    font-size: 14px;
}

.alert {
    display: none;
}

/* Color Picker */
.color-picker {
    height: 272px;
    position: relative;
    width: 272px;
}

.color-picker img {
    cursor: crosshair;
}

.color-picker-backdrop {
    background: #00FFFF;
    height: 256px;
    margin: auto;
    position: relative;
    top: 8px;
    width: 256px;
}

.selected-color-circle {
    background-image: url('../images/selected-color-circle.png');
    height: 16px;
    left: 120px;
    position: absolute;
    top: 120px;
    width: 16px;
}

/* Hue Slider */
.hue-slider {
    height: 270px;
    position: relative;
    width: 20px;
}

.hue-slider-backdrop {
    position: relative;
    top: 8px;
}

.selected-hue-arrows {
    background-image: url('../images/selected-hue-arrows.png');
    height: 14px;
    left: -13px;
    position: absolute;
    top: 120px;
    width: 45px;
}

/* Color Attributes */
.color-attributes-short input {
    width: 50px;
}

.hex-input {
    display: inline-block;
    width: 70px;
}

.tag-input {
    display: inline-block;
    margin-bottom: 10px;
    width: 106px;
}

/* Color Preview */
.color-preview-tile {
    background-color: #408080;
    border: 5px solid #5a5e5d;
    border-radius: 4px;
    cursor: move;
    height: 100px;
    margin-bottom: 10px;
    width: 100px;
    z-index: 10;
}

/* Saved colors */
.color-drop-spot {
    border: 5px dashed #5a5e5d;
    border-radius: 5px;
    color: #698aac;
    float: left;
    font-family: "Droid Sans Bold", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 110px;
    margin-left: 30px;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 110px;
}

body.dark .color-preview-tile,
body.dark .color-drop-spot {
    border-color: #e4e4f1;
}

.ui-state-hover,
body.dark .ui-state-hover {
    border-color: #EC008B;
}

.ui-state-active,
body.dark .ui-state-active {
    border-color: #18BC9C;
}

.reorder-drop-spot {
    float: left;
    width: 40px;
}

.reorder-drop-spot:first-child {
    margin-left: -30px;
    width: 40px;
}

.reorder-drop-spot.ui-state-active .position-indicator {
    visibility: visible;
}

.position-indicator {
    height: 120px;
    margin: auto;
    margin-top: -10px;
    visibility: hidden;
    width: 3px;
}

.position-indicator {
    background: #5a5e5d;
}

body.dark .position-indicator {
    background: #e4e4f1;
}

.saved-color {
    cursor: move;
    float: left;
    height: 150px;
    width: 100px;
}

.saved-attributes {
    font-size: 13px;
    text-align: center;
}

.saved-tag {
    font-style: italic;
}

.color {
    border: 5px solid #5a5e5d;
    border-radius: 4px;
    height: 100px;
    margin: auto;
    position: relative;
    width: 100px;
}

.saved-color:hover .remove-wrapper {
    display: inline-block;
}

.remove-wrapper {
    display: none;
    background: #5a5e5d;
    border: 1px solid #e4e4f1;
    border-radius: 10px;
    cursor: pointer;
    height: 20px;
    padding: 0;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
}

.remove-wrapper .icon-close {
    color: #e4e4f1;
    font-size: 10px;
    left: 4px;
    position: absolute;
    top: 4px;
}

body.dark .color {
    border-color: #e4e4f1;
}

.new-color-template {
    display: none;
}

/* Copy icon */
.icon-copy2 {
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
}

/* Tooltip */
.tooltip-inner {
    background-color: #2C3E50;
}

.tooltip.top .tooltip-arrow {
    border-top-color: rgba(44,62,80,1);
}


/* Favorite Colors Panel */
.favorite-colors-panel {
    max-height: 245px;
    height: 245px;
    overflow-y: auto;
    padding: 10px;
    width: 100%;
}

.favorite-color {
    cursor: pointer;
    float: left;
    margin: 11px;
}

.favorite-color > .color{
    border: 2px solid #5a5e5d;
    height: 50px;
    width: 50px;
}

.favorite-color > span {
    font-size: 13px;
}

/* Media Queries */
@media screen {
    .navbar-brand {
        padding: 12.5px 15px;
    }
}