@font-face {
    font-family: 'Droid Sans';
    src:    url('../fonts/DroidSans-webfont.eot');
    src:    url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/DroidSans-webfont.woff') format('x-font-woff'),
            url('../fonts/DroidSans-webfont.ttf') format('truetype'),
            url('../fonts/DroidSans-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans Bold';
    src:    url('../fonts/DroidSans-Bold-webfont.eot');
    src:    url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/DroidSans-Bold-webfont.woff') format('x-font-woff'),
            url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
            url('../fonts/DroidSans-Bold-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Text Selection Color */
::selection {
    background: #EC008B; /* Safari */
    color: #ffffff;
}

::-moz-selection {
    background: #EC008B; /* Firefox */
    color: #ffffff;
}

body {
    background: url(../images/brilliant.png) repeat-x 0 0, url(../images/brilliant.png) repeat 0 0, #FEFEFE;
    font-family: "Droid Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 70px 0 0 0;
}
body.dark {
    background: url(../images/noisy_net.png) repeat-x 0 0, url(../images/noisy_net.png) repeat 0 0, #FEFEFE;
    color: #f7f7f7;
}

p {
   font-size: 14px;
   margin-bottom: 24px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Droid Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

h3 {
    text-transform: uppercase;
}

.add-color {
    margin-bottom: 40px;
    margin-left: 10px;
}

/* Color Picker */
.color-picker {
    height: 272px;
    position: relative;
    width: 272px;
}

.color-picker-backdrop {
    background: #00FFFF;
    height: 256px;
    margin: auto;
    position: relative;
    top: 8px;
    width: 256px;
}

.selected-color-circle {
    background-image: url('../images/selected-color-circle.png');
    height: 16px;
    left: 120px;
    position: absolute;
    top: 120px;
    width: 16px;
}

/* Hue Slider */
.hue-slider {
    height: 270px;
    position: relative;
    width: 20px;
}

.hue-slider-backdrop {
    position: relative;
    top: 8px;
}

.selected-hue-arrows {
    background-image: url('../images/selected-hue-arrows.png');
    height: 14px;
    left: -13px;
    position: absolute;
    top: 120px;
    width: 45px;
}