@()

@main("About", scripts) {

    <h1>About</h1>
    <!--Link example-->
    <a href="@routes.Application.index()">Home</a>
}

@scripts = {
    <script type="text/javascript">
        $(function(){
            alert(hsvToRgb(280, 75, 82));
        });

        function hsvToRgb(hue, sat, value){
            var r, g, b;
            hue /= 360;
            sat /= 100;
            value /= 100;

            var i = Math.floor(hue * 6);
            var f = hue * 6 - i;
            var p = value * (1 - sat);
            var q = value * (1 - f * sat);
            var t = value * (1 - (1 - f) * sat);

            switch (i % 6) {
                case 0: r = value, g = t, b = p; break;
                case 1: r = q, g = value, b = p; break;
                case 2: r = p, g = value, b = t; break;
                case 3: r = p, g = q, b = value; break;
                case 4: r = t, g = p, b = value; break;
                case 5: r = value, g = p, b = q; break;
            }

            r = Math.floor(r * 255);
            g = Math.floor(g * 255);
            b = Math.floor(b * 255);

            return [r, g, b];
        }


    </script>
}


