@(palettes: Seq[Palette])

@main("Home", scripts) {

    <h1>Edit Palette</h1>

    <h3>Panel Details</h3>
    <div class="row">
        <div class="col-md-7" style="margin-top: 14px;">
            <input type="text" class="form-control" placeholder="Palette Name" />
            <br />
            <textarea class="form-control" rows="3" id="textArea" placeholder="Description"></textarea>
        </div>
    </div>

    <br />

    <h3 class="add-color-state">Add Color</h3>
    <h3 class="edit-color-state" style="display: none;">Edit Color</h3>
    <div class="add-color-panel">
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1" style="margin-top: 21px;">
                <div class="hue-slider">
                    <div class="hue-slider-backdrop">
                        <img src="@routes.Assets.at("images/hue-slider.png")" alt="Hue Slider" />
                        <div class="selected-hue-arrows"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-11 col-xs-10" style="margin-top: 21px; min-width: 290px;">
                <div class="color-picker">
                    <div class="color-picker-backdrop">
                        <img src="@routes.Assets.at("images/color-picker-gradient.png")" alt="Color Picker">
                        <div class="selected-color-circle"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs visible-sm"></div>
            <div class="col-md-3 col-md-3 col-sm-12 col-xs-12 color-attributes-short">
                <h5>Attributes</h5>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="hue-input">Hue</label>
                            <input class="form-control input-sm" id="hue-input" type="text" placeholder="Hue" value="180" maxlength="3" data-max-value="360">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="saturation-input">Saturation</label>
                            <input class="form-control input-sm" id="saturation-input" type="text" placeholder="Sat" value="50" maxlength="3" data-max-value="100">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="brightness-input">Brightness</label>
                            <input class="form-control input-sm" id="brightness-input" type="text" placeholder="Bri" value="50" maxlength="3" data-max-value="100">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="red-input">Red</label>
                            <span class="font-icon icon-copy2 copy-to-clipboard" data-clipboard-target="rgb-copy-text"></span>
                            <input type="hidden" id="rgb-copy-text" value="rgb(64,128,128)">
                            <input class="form-control input-sm" id="red-input" type="text" placeholder="Red" value="64" maxlength="3" data-max-value="255">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="green-input">Green</label>
                            <input class="form-control input-sm" id="green-input" type="text" placeholder="Green" value="128" maxlength="3" data-max-value="255">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="blue-input">Blue</label>
                            <input class="form-control input-sm" id="blue-input" type="text" placeholder="Blue" value="128" maxlength="3" data-max-value="255">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs visible-sm"></div>
            <div class="col-md-2 col-sm-6 col-xs-6">
                <h5>Preview</h5>
                <div class="preview-tile color-wrapper" data-hex="#408080" data-rgb="rgb(64,128,128)" data-current-tag="">
                    <div class="color" style="background-color: #408080;">
                        <div class="favorite-icon-wrapper"><span class="font-icon icon-star3"></span></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="hex-input">#</label>
                    <input class="form-control input-sm hex-input" id="hex-input" type="text" placeholder="Hex" value="408080" maxlength="7">
                    <span class="font-icon icon-copy2 copy-to-clipboard" data-clipboard-target="hex-input"></span>
                </div>
                <!--<span class="font-icon icon-tag"></span>-->
                <input type="text" id="tag-input" class="form-control input-sm tag-input" placeholder="Optional tag" maxlength="16">
                <br />
                <!--<button type="button" class="btn btn-primary show-tooltip add-color" data-placement="bottom" title="Note: You can also add a color by dragging and dropping the preview into the saved colors area">Add Color</button>-->
                <button type="button" class="btn btn-primary add-color">Add Color</button>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h5>Favorites <div class="favorite-icon-wrapper"><span class="font-icon icon-star3"></span></div></h5>
                <div id="favorites-list" class="add-favorite-panel form-control">
                    <div class="favorite-color" data-hex="5a5e5d">
                        <div class="color" style="background-color: #5a5e5d;"></div>
                        <span>#5a5e5d</span>
                    </div>
                    <div class="favorite-color" data-hex="408080">
                        <div class="color" style="background-color: #408080;"></div>
                        <span>#408080</span>
                    </div>
                    <div class="favorite-color" data-hex="6F4080">
                        <div class="color" style="background-color: #6F4080;"></div>
                        <span>#6F4080</span>
                    </div>
                    <div class="favorite-color" data-hex="804062">
                        <div class="color" style="background-color: #804062;"></div>
                        <span>#804062</span>
                    </div>
                    <div class="favorite-color" data-hex="508040">
                        <div class="color" style="background-color: #508040;"></div>
                        <span>#508040</span>
                    </div>
                    <div class="favorite-color" data-hex="404180">
                        <div class="color" style="background-color: #404180;"></div>
                        <span>#404180</span>
                    </div>
                    <div class="favorite-color" data-hex="806040">
                        <div class="color" style="background-color: #806040;"></div>
                        <span>#806040</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <h3>Palette Colors</h3>
    <p>Use the tools above to add colors to the palette. You can rearrange colors that you've added by dragging and dropping them into a new position.</p>
    <div class="saved-colors-panel">
        <div class="row">
            <!--<div class="color-drop-spot">-->
                <!--Drop<br/>Color<br />Here-->
            <!--</div>-->
            <div class="reorder-drop-spot last-drop-spot"><div class="position-indicator"></div></div>
        </div>
    </div>
    <div class="new-color-template">
        <div class="reorder-drop-spot"><div class="position-indicator"></div></div>
        <div class="saved-color color-wrapper">
            <div class="color">
                <div class="remove-wrapper"><span class="font-icon icon-close"></span></div>
                <div class="favorite-icon-wrapper"><span class="font-icon icon-star3"></span></div>
                <div class="toggle-favorite-wrapper modify-color"><span class="font-icon icon-star3"></span><span class="font-icon icon-star"></span></div>
                <div class="edit-wrapper modify-color" style="left: 50px;"><span class="font-icon icon-pencil2"></span></div>
            </div>
            <div class="saved-attributes">
                <div class="saved-hex"></div>
                <div class="saved-rgb"></div>
                <div class="saved-tag"></div>
            </div>
        </div>
    </div>

    <br />

    <div class="pull-right">
        <button data-toggle="modal" data-target="#confirm-modal" class="cancel-palette btn btn-default">Cancel</button>
        <button type="button" class="save-palette btn btn-success" data-url="@routes.Application.viewPalette()">Save Palette</button>
    </div>

    <!-- Confirm Cancel Modal -->
    <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-modal-label" aria-hidden="true" data-backdrop="static" data-url="@routes.Application.index()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Cancel</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to cancel these changes?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default confirm-stay" data-dismiss="modal">No, stay here</button>
                    <button type="button" class="btn btn-primary confirm-discard" data-dismiss="modal">Yes, discard changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

@scripts = {
    <script src="@routes.Assets.at("javascripts/color-functions.js")" type="text/javascript"></script>
}